@import "tailwindcss";
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #f9fafb;
	--color-primary-100: #f3f4f6;
	--color-primary-200: #e5e7eb;
	--color-primary-300: #d1d5db;
	--color-primary-400: #9ca3af;
	--color-primary-500: #6b7280;
	--color-primary-600: #4b5563;
	--color-primary-700: #374151;
	--color-primary-800: #1f2937;
	--color-primary-900: #111827;
	--color-primary-950: #030712;

	--color-on-primary-fixed-variant: #111827;
	--color-on-surface: #111827;
	--color-inverse-primary: #d1d5db;
	--color-on-background: #111827;
	--color-on-secondary-container: #111827;
	--color-primary-fixed-dim: #d1d5db;
	--color-surface-container-lowest: #ffffff;
	--color-tertiary-fixed-dim: #9ca3af;
	--color-error-container: #fee2e2;
	--color-on-error-container: #991b1b;
	--color-tertiary-fixed: #f3f4f6;
	--color-outline: #6b7280;
	--color-surface-tint: #111827;
	--color-on-secondary-fixed: #111827;
	--color-on-secondary: #ffffff;
	--color-surface-container-low: #f9fafb;
	--color-error: #ef4444;
	--color-inverse-on-surface: #f9fafb;
	--color-background: #ffffff;
	--color-tertiary: #4b5563;
	--color-surface-dim: #e5e7eb;
	--color-on-tertiary-container: #111827;
	--color-outline-variant: #d1d5db;
	--color-surface: #ffffff;
	--color-on-tertiary-fixed-variant: #111827;
	--color-on-secondary-fixed-variant: #374151;
	--color-tertiary-container: #f3f4f6;
	--color-surface-variant: #f3f4f6;
	--color-surface-container-highest: #e5e7eb;
	--color-on-surface-variant: #4b5563;
	--color-secondary-fixed-dim: #9ca3af;
	--color-secondary-fixed: #f3f4f6;
	--color-surface-container-high: #f3f4f6;
	--color-on-primary: #ffffff;
	--color-secondary: #374151;
	--color-secondary-container: #f3f4f6;
	--color-on-tertiary-fixed: #111827;
	--color-primary: #111827;
	--color-surface-bright: #ffffff;
	--color-on-error: #ffffff;
	--color-on-primary-fixed: #ffffff;
	--color-surface-container: #f3f4f6;
	--color-on-tertiary: #ffffff;
	--color-primary-container: #111827;
	--color-primary-fixed: #f3f4f6;
	--color-on-primary-container: #ffffff;
	--color-inverse-surface: #111827;

	--font-headline: 'Source Sans 3';
	--font-body: 'Source Sans 3';
	--font-label: 'Source Sans 3';

	--radius-default: 0.125rem;
	--radius-lg: 0.25rem;
	--radius-xl: 0.5rem;
	--radius-full: 0.75rem;
}

@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

body {
	font-family: var(--font-body), sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-family: var(--font-headline), sans-serif;
}
